@charset "uft-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

/* font-family: 'Rajdhani'; */


body{ font-family: 'Noto Sans KR', sans-serif; color:#000; font-size:15px }
.row{ max-width: 1200px; margin:0 auto; padding:0 10px; }
* { outline: none; }

/* section */
/* article1 > slide */
#section { padding-top: 20px;}
#section .article1 { position:relative; overflow: hidden; }

.article1 .slide_group {
    float: left;
    width: calc(100% - 200px);
}

.article1 .slide_group .slick-arrow {
    position:absolute; 
    top:50%; transform:translateY(-50%);
    background:none;
    border:none; z-index:9999; 
    font-size:80px;
    color:#bd97d3; opacity: 0.8;
    text-shadow: -3px 0 #fff, 0 3px #fff, 3px 0 #fff, 0 -3px #fff;
}
.article1 .slide_group .prev { left:50px }
.article1 .slide_group .next { right:50px }
.article1 .slide_group .slick-dots { 
    position:absolute; bottom:50px; left:50%; transform:translate(-50%); 
}
.article1 .slide_group .slick-dots li { 
    display:inline-block; margin:0 5px;
}
.article1 .slide_group .slick-dots li button {     
    width:20px; height:20px;
    border-radius:50%; 
    background:rgba(189,151,211,0.5);
    border:none; text-indent:-9999px; overflow:hidden;
    outline:none;
}
.article1 .slide_group .slick-dots li.slick-active button {     
    background:rgba(189,151,211,1);
}
.article1 .playstop {
    position:absolute; bottom:45px; left:50%; 
    color:#fff; background:none; border:none; 
    transform:translate(225px) scale(1.3);
}

.article1 .slide_group .slide1 {
    background: url(../img/slide01.jpg) no-repeat center;
    height: 100vh;
    background-size:cover;
    position: relative;
}
.article1 .slide_group .slide2 {
    background: url(../img/slide02.jpg) no-repeat center;
    height: 100vh;
    background-size:cover;
    position: relative;
}
.article1 .slide_group .slide3 {
    background: url(../img/slide03.jpg) no-repeat center;
    height: 100vh;
    background-size:cover;
    position: relative; 
}

.article1 .slide_group .slide > .txt {
    position: absolute;
    top: 80%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.article1 .slide_group .slide > .txt h2 {
    font-size: 50px;
    padding: 20px 20px;
    background: rgba(189, 151, 211, 0.7);
}
.article1 .slide_group .slide > .txt p {
    font-size: 20px;
    color: #666;
    padding-top: 25px;
}
.article1 .slide.slick-cloned .txt { opacity:0 }

.article1 .slide_group .slide.slick-active .txt h2 { 
    animation:fadeInDown 0.5s both 0.6s;
}
.article1 .slide_group .slide.slick-active .txt p { 
    animation:fadeInUp 0.5s both 0.6s;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* article2 > other */
.article2 .other_group { 
    position: relative;
    width: calc(100% - 200px);   
}
.article2 .other {
    float: left;
    width: 20%;    
}
.article2 .other_group .txt {
    position:absolute; bottom:25px; left:25px; 
    right:25px;
    opacity:0; transition:all 0.3s;
}
.article2 .other_group .txt h2 {
    color: #fff;
    padding-bottom: 10px;
    word-break: keep-all;
    line-height: 1.2em;
}

.article2 .other_group .txt > a {
    display: inline-block; padding: 5px 10px;
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff; font-size: 11px;
    font-family: 'Rajdhani';
    font-weight: 600 !important;
}

.article2 .other::before { content:'';
    position:absolute; top:0; bottom:0; right:0; left:0;
    background:rgba(0,0,0,0.5); opacity:0; transition:all 0.4s
}   
.article2 .other:hover::before {  opacity:1; }
.article2 .other:hover .txt {
    opacity:1; 
 }
.article2 .other_group .txt > a:hover {background: rgba(255,255,255,0.3);}

.article2 .other_group .other1 {
    background: url(../img/other01.jpg) no-repeat center;
    height: 200px;
    background-size:cover; 
    position:relative;
}
.article2 .other_group .other2 {
    background: url(../img/other02.jpg) no-repeat center;
    height: 200px;
    background-size:cover; 
    position:relative;
}
.article2 .other_group .other3 {
    background: url(../img/other03.jpg) no-repeat center;
    height: 200px;
    background-size:cover; 
    position:relative;
}
.article2 .other_group .other4 {
    background: url(../img/other04.jpg) no-repeat center;
    height: 200px;
    background-size:cover; 
    position:relative;
}
.article2 .other_group .other5 {
    background: url(../img/other05.jpg) no-repeat center;
    height: 200px;
    background-size:cover; 
    position:relative;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* article3 */
.article3 {
    width: calc(100% - 200px);
    padding: 100px 0;
    overflow: hidden;
    text-align: center;
}
.article3 h2 {
    color: #666; font-size: 60px;
    font-weight: bold;
    font-family: 'Rajdhani';
    padding-bottom: 30px;
}
.article3 p {
    color: #888; font-size: 20px;
    padding-bottom: 30px;
}

.article3 ul li {
    float: left; width: 30%;
    margin-right: 4%;
    margin-top:60px;
    text-align:center;
}
.article3 ul li:nth-child(3) { margin-right: 0%; }

.article3 .imgbox {
    position:relative; overflow:hidden; border-radius: 50%;
}

.article3 .imgbox > div {
    position:absolute; z-index:2;
    top:0; left:0; 
    bottom:0; right:0;
    opacity:0; transition:all 0.5s;
    background: rgba(0,0,0,0.5);
    /* width: 150px; height: 150px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 20px 20px; */
}

.article3 .imgbox p {
    color: #fff; font-size: 40px;
    position:absolute; top:50%;
    left:50%; transform:translate(-50%, -35%);

}
.article3 .imgbox:hover > div { opacity:1;}
.article3 ul li img { border-radius: 50%; transition:all 0.5s;}
.article3 ul li:hover img { transform:scale(1.4) }

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* article4 */
.article4 {
    width: calc(100% - 200px);
    background: #e9c7d6; padding: 100px 0;
    position:relative; overflow: hidden;
}

.article4 ul li {    
    float:left; 
    width:31.66%;
    margin-right:2.5%;
    font-size: 18px; color: #666;
    line-height: 1.5em;
    position:relative;
}
.article4 ul li:nth-child(3) { margin-right:0; }

.article4 .hbox {
    background: #bd97d3;
    border-radius: 10px;
    position:absolute; top:-30px; left:10px;
    text-align:center; z-index: 999;
}
.article4 h3 {
    display: inline-block;
    padding: 20px 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Rajdhani';
    color: #fff;
}
.article4 p {
    display: block;
    background: #fff;
    border: 3px solid #bd97d3;
    border-radius: 10px;
    line-height: 1.5;
    height: 400px;
    padding: 60px 30px;
    overflow: hidden;
    margin-bottom:25px;
    position:relative;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* contact */
.article5 { padding-top: 100px; padding-bottom: 100px; margin: 0 auto;}
.article5 h2 {
    color: #666; font-size: 60px;
    font-weight: bold;
    font-family: 'Rajdhani';
    padding-bottom: 30px;  text-align: center;
}
.article5 .form1 {
    width: 70%;
    margin: 0 auto;
    padding: 50px 20px;
    /* background: #666; */
    border-radius: 5px;
}
.article5 .form1 label {
    width: 100px; display: inline-block;
    vertical-align: middle;
    color: #bd97d3; font-size: 15px; text-align: right; font-weight: bold;
    padding-right: 20px;
}
.article5 .form1 p:nth-of-type(4) label {
    vertical-align: top;
}
.article5 .form1 input {
    border: 1px solid #888; padding: 3px 5px;
    vertical-align: middle; font-size: 15px;
    border-radius: 5px;
}
.article5 .form1 input[type=file] {border: none; font-size: 12px; }
.article5 .form1 p {
    padding: 10px 0;
}
.article5 .form1 #memo {
    /* width: calc(90% - 80px); */
    width: 80%;
    height: 150px;
    vertical-align: top;
    border-radius: 5px;
    border: 1px solid #888; padding: 3px 5px;
}
.article5 .form1 p:nth-of-type(6) { text-align: center; padding-top: 15px; }
.article5 .form1 p:nth-of-type(6) button {
    margin: 10px 0 20px 0; padding: 5px 10px;
    vertical-align: middle;
    background: #bd97d3; color: #fff; font-size: 14px; border: none;
    border-radius: 5px;
}

.article5 .form1 p:nth-of-type(6) button[type='reset'] {
    background:#666;
}

.article5 .form1 p:nth-of-type(6) button:hover  {
    background: #e9c7d6; color: #fff;
}